@tailwind base;

body {
    @apply font-sans bg-gray-100;
}
/*a:hover {*/
/*@apply tracking-widest transition*/
/*}*/


@tailwind components;

.bg-gradient-blue {
    background: linear-gradient(150deg, rgb(119, 149, 248) 15%, rgb(103, 114, 229) 70%, rgb(85, 90, 191) 94%);
}

.transition {
    transition: all 0.2s linear;
}

.sidebar-link {
    @apply font-sans block text-sm py-4 px-6 truncate text-white w-full transition;
}

.sidebar-link:hover {
    @apply bg-indigo-500;
}

.btn {
    @apply inline-block text-center transition rounded shadow-md text-white py-2 px-6 text-lg tracking-wider;
}

.btn:focus {
    @apply outline-none shadow-outline;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn-green {
    @apply bg-green-500;
}

.btn-green:hover {
    @apply bg-green-600;
}

.btn-indigo {
    @apply bg-indigo-600;
}

.btn-indigo:hover {
    @apply bg-indigo-700;
}

.btn-purple {
    @apply bg-purple-600;
}

.btn-purple:hover {
    @apply bg-purple-700;
}

.btn-yellow {
    @apply bg-yellow-500;
}

.btn-yellow:hover {
    @apply bg-yellow-600;
}

.btn-gray {
    @apply bg-gray-500;
}

.btn-gray:hover {
    @apply bg-gray-600;
}

.btn-blue {
    @apply bg-blue-500;
}

.btn-blue:hover {
    @apply bg-blue-600;
}

.w-inherit {
    width: inherit;
}

.link:hover {
    @apply tracking-widest;
}

.input {
    @apply appearance-none bg-transparent w-full py-2 px-3 text-black rounded;
}

.label {
    @apply block text-gray-600 text-sm pr-4;
}
.input:focus {
    @apply outline-none;
}

.input-wrap {
    @apply flex items-center py-2 transition p-1 w-full border border-gray-200 rounded bg-gray-200;
}
.input-wrap:hover {
    box-shadow: 0 0 4px #7f9cf5;
    @apply outline-none border-indigo-500 bg-white;
}
.input-icon {
    @apply block text-gray-500 ml-auto w-10 pl-2;
}

.input-float-icon {
    @apply block text-gray-500 w-10 right-0 absolute block pl-2 h-12 py-3;
}
.input-float {
    @apply bg-white w-full py-3 px-4 text-black rounded block border border-gray-200 h-12;
}
.input-float::placeholder {
    color: transparent;
}
.input-float:hover {
    box-shadow: 0 0 4px #7f9cf5;
    @apply outline-none border-indigo-500 bg-white;
}
.input-float-wrap {
    @apply relative transition;
}
.input-float-label {
    @apply absolute top-0 left-0 block w-full text-gray-700 py-3 px-4 border border-transparent rounded transition h-12;
}
.input-float-wrap input:not(:placeholder-shown) {
    @apply pb-1 pt-3;
}

.input-float-wrap input:not(:placeholder-shown) + label {
    @apply py-1 text-xs text-gray-500;
}

.table-th {
    @apply font-normal py-3 px-4 text-left;
}

.table-td {
    @apply font-normal py-2 px-4 text-sm;
}

.shadow-yellow {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(236, 201, 75, .4);
}

.shadow-green {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(72, 187, 120, .4);
}

.shadow-purple {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(128, 90, 213, .4);
}

.shadow-blue {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(128, 90, 213, .4);
}

.shadow-indigo {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(127, 156, 245, .4);
}

.shadow-indigo-xl {
    box-shadow: 0 10px 20px 0 rgba(163, 191, 250, .14), 0 40px 40px -5px rgba(127, 156, 245, .4);
}

@tailwind utilities;

